@using GraphQL
@using Lexplorer.Models
@inject Lexplorer.Services.GraphQLService GraphQLService;
<h3>Layer 2 Statistics</h3>
@if(blockData != null)
{
    @foreach(var block in blockData.data.blocks)
    {
        <p>@block.blockHash</p>
    }
}
else
{
    <p>Retrieving Layer 2 statistics</p>
}

@code 
{
    private BlockData blockData;
    protected override async Task OnInitializedAsync()
    {
       blockData = await GraphQLService.GetBlocks();
    }
}
