
<MudExpansionPanel Text="@Text" DisableGutters="true" @bind-IsExpanded="isOpen" HideIcon="true">
    <TitleContent>
        <div class="d-flex">
            <MudIcon Icon="@(isOpen ? Icons.Material.Filled.KeyboardArrowUp : Icons.Material.Filled.KeyboardArrowDown)" class="mr-3"></MudIcon>
            <MudText>@Text</MudText>
        </div>
    </TitleContent>
    <ChildContent>
        @ChildContent
    </ChildContent>
</MudExpansionPanel>

@code {
    private bool isOpen = false;

    [Parameter]
    public string Text { get; set; } = "";

    [Parameter]
    public RenderFragment? ChildContent { get; set; }
}

