<MudDialog>
    <DialogContent>
        <MudText>Please specify options for generating the CSV before downloading it.</MudText>
        <MudItem xs="12">
            <MudSelect T="string" @bind-Value="CSVType" Label="CSV type" AnchorOrigin="Origin.BottomCenter">
                @foreach (string format in TransactionExportService.ExportFormats())
                {
                    <MudSelectItem Value="@format" />
                }
            </MudSelect>
        </MudItem>
        <MudItem xs="12">
            <MudDatePicker Label="Start date:" @bind-Date="startDate" />
            <MudDatePicker Label="End date:" @bind-Date="endDate" />
        </MudItem>
        <MudAlert Severity="Severity.Warning">This is still work in progress!</MudAlert>
         <p hidden="@(!downloadProcessing)"><MudProgressLinear Color="Color.Secondary" Indeterminate="true" Class="my-7"/></p>
         <p hidden="@(errorMessage==null)"><MudAlert Severity="Severity.Error">@errorMessage</MudAlert></p>
    </DialogContent>
    <DialogActions>
        <MudButton OnClick="Cancel">Cancel</MudButton>
        <MudButton Color="Color.Success" Variant="Variant.Filled" OnClick="DownloadFileFromStream" Disabled=@downloadProcessing >Download</MudButton>
    </DialogActions>
</MudDialog>
