@page "/pairs/{pairId}"
@using Lexplorer.Components;
@using Lexplorer.Helpers;
@using Lexplorer.Models;
@using System.Diagnostics
@inject IAppCache AppCache;
@inject NavigationManager NavigationManager;
@inject Lexplorer.Services.LoopringGraphQLService LoopringGraphQLService;

<h3>Pair @pairId</h3>

@code {
    [Parameter]
    public string pairId { get; set; } = "";

}

